body{
    background-size: cover;
    background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)),url(../images/bg-login.jpg);
}



.card-title{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: #323232;
    padding: 15px;
}

.card{
    margin-top: calc(50vh - 200px);
    
}

.btn_laranja{
    background: #f27649 !important;
    border: 1px solid #9f3e00 !important;
    width: 100%;
    font-size: 18px;
    
}

.label_login{
    font-weight: bold;
}
